@import "tailwindcss";


@theme{
    --color-rmlk-red:#DE3031;
    --color-rmlk-dark_green:#0F2E37;
    --color-rmlk-light_green:#184B59;
    --color-rmlk-red-light:#E45959;
    --color-rmlk-red-lighter:#FF7878;
    --color-rmlk-dark:#1D1D1E;
    --color-rmlk-dark-light:#2A2A2B;
    --color-rmlk-dark-lighter:#4D4949;
    --font-rmlk-secondary:"Golos Text", sans-serif;
    --default-font-family: "Anybody", sans-serif;

    
}
:root{
    --color-rmlk-red:#DE3031;
    --color-rmlk-dark_green:#0F2E37;
    --font-rmlk-secondary:"Golos Text", sans-serif;
    --default-font-family: "Anybody", sans-serif;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    animation-duration: 200ms;
   
}
.nav-link .tracking-widest{
    position: relative;
    text-decoration: none;
    
}
.nav-link .tracking-widest::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px; /* distance from text */
  width: 0%;
  height: 2px;
  background-color: var(--color-rmlk-red); /* samurai red */
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}

.nav-link .tracking-widest:hover::after {
  width: 100%;
}
.nav-link .tracking-widest.active::after {
  width: 100%;
}

.Header{
    background-image: url('./assets/Bg_dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -180px;
   
    
}