@import "tailwindcss";

@theme {
  --color-rmlk-red: #de3031;
  --color-rmlk-dark_green: #0f2e37;
  --color-rmlk-light_green: #184b59;
  --color-rmlk-red-light: #e45959;
  --color-rmlk-red-lighter: #ff7878;
  --color-rmlk-dark: #1d1d1e;
  --color-rmlk-dark-light: #2a2a2b;
  --color-rmlk-dark-lighter: #4d4949;
  --font-rmlk-secondary: "Golos Text", sans-serif;
  --default-font-family: "Anybody", sans-serif;
}
:root {
  --color-rmlk-red: #de3031;
  --color-rmlk-dark_green: #0f2e37;
  --color-rmlk-dark-lghter: #797474;
  --color-rmlk-dark-lght: #2a2a2b;
  --color--rmlk-dark-exp:#1f1f21;
  --font-rmlk-secondary: "Golos Text", sans-serif;
  --default-font-family: "Anybody", sans-serif;
  --color-riyasewana-blue:#039be6;
  --color-ikman-green:#149777;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  animation-duration: 200ms;
}
*::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  height: 8px;
  background-color: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-rmlk-red);
  cursor: pointer;
  border-radius: 10px;
}

.nav-link .tracking-widest {
  position: relative;
  text-decoration: none;
}
.nav-link .tracking-widest::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px; /* distance from text */
  width: 0%;
  height: 2px;
  background-color: var(--color-rmlk-red); /* samurai red */
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}

.nav-link .tracking-widest:hover::after {
  width: 100%;
}
.nav-link .tracking-widest.active::after {
  width: 100%;
}

.Header {
  background-image: url("./assets/Bg_dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -180px;
}
